/* CSS Reset */

/* font-family: 'Afacad', sans-serif; */

html {
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
    font-size: 1.20rem;
    line-height: 125%;
    color: #6E6D6E;
    background-color: #FEEFDE;
}

nav {
    background-color: #6E6D6E;
    text-align: center;
}

nav li {
    display: inline;
}

nav ul {
    padding: 20px;
    display: inline-block;
    color: #6E6D6E;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav a:link,
nav a:visited {
    padding: 20px;
    color: #FEEFDE;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 4px;
}

nav a:hover,
nav a:active {
    padding: 20px;
    background-color: #FEEFDE;
    color: #6E6D6E;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 4px;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: 'Afacad', sans-serif;
}

h1 {
    font-size: 8rem;
    margin: 7% 0;
    text-align: left;
    text-shadow: 3px 8px 3px #ccc;
}

h2 {
    font-size: 4rem;
    margin: 7% 0;
    text-align: left;
    text-shadow: 3px 8px 3px #ccc;
}

p {
    text-align: center;
    font-size: 1.5rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

header {
    margin: 5%;
}

img {
    float: left;
    max-width: 15%;
    margin-left: 15%;
    margin-right: 30%;
    border-radius: 20%;
    box-shadow: 3px 8px 3px #ccc;
    shape-outside: circle(30%);
}

header h2 {
    margin-top: 2%;
}

.logo {
    max-width: 100%;
}

.more {
    text-align: center;
}

.bulls {
    text-align: justify;
    width: [width of img];
}

.green {
    text-align: justify;
    width: [width of img];
}

.bulls img {
    float: left;
    max-width: 45%;
}

.green img {
    float: left;
    max-width: 45%;
}

.info {
    text-align: center;
}

.join {
    text-align: center;
}

.reach {
    text-align: center;
}

.reach h2 {
    text-align: center;
}

.social p {
    text-align: center;
}

.social h2 {
    text-align: center;
}

.store h2 {
    text-align: center;
}


footer {
    background-color: #6E6D6E;
    color: #DAE3E6;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FEEFDE;
}

#footer {
    position: fixed;
    background-color: #6E6D6E;
    bottom: 0px;
    width: 100px;
    padding-top: 4px;
    padding-bottom: 4px;
}
